<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        body{
            font-family: arial;
            margin: 0;
        }
        nav{
            background: #ff5353;
            padding: 20px 10px;
        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <!-- <li><a href="/dashboard">Dashboard</a></li> -->
            <li><a href="/auth/settings">Settings</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome</h1>
    </header>
    <main>
        <a class="google-btn" href="/dashboard">Dashboard</a>
    </main>
    <script>
    if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/dist/serviceWorker.js').then(function(registration) {
        console.log('Worker registration successful', registration.scope);
      }, function(err) {
        console.log('Worker registration failed', err);
      }).catch(function(err) {
        console.log(err);
      });
    });
  } else {
    console.log('Service Worker is not supported by browser.');
  }
    </script>
</body>
</html>


